[submodule "ThirdParty/csvstream/csvstream"]
	path = ThirdParty/csvstream/csvstream
	url = https://github.com/awdeorio/csvstream.git
[submodule "ThirdParty/dlib/dlib"]
	path = ThirdParty/dlib/dlib
	url = https://github.com/davisking/dlib.git
